img{
    width: 200px;
    height: 310px;
}
.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
h3{
    text-align: center;
}
h2{
    color: rgb(77, 83, 86);
    text-decoration: none;
    font-weight: 900;
}
h2:hover{
    color: gold;
}